

 /* shared front */

 
        @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

        /*Noto Serif  */
        .noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;  
}

        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

                /* inter */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
 
        





/* shared item */

.dark-0{
    color: #000000;
}
.orange{
    color: #E95A08 ;
}
.btn{
    width: 270px;
    height: 50px;
    background-color: rgb(233, 90, 8);
    padding: 26px 50px 26px 50px;
}
main > section{
    margin-top: 120px;
}